body {
    display: flex;
    gap: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.grid {
    height: 310px;
    width: 305px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.grid .grid-square {
    background-color: rgb(255, 255, 255);
    height: 99px;
    width: 99px;
    border: 1px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-square:hover {
    filter: brightness(90%);
}